.service {
    margin: 15px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:rgba(210, 105, 30, 0.308);
    color:darkslategray;
    
}
.service:hover{
    background-color: rgba(102, 205, 171, 0.514);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.596);
    border: 0px solid white;
    
}
.service-info {
    margin-left: 20px;
    text-align: left;
    height: 280px;
}
.button {
    margin-left: 20px;
    text-align: left;
}
.detail-btn {

    background-color:rgba(18, 151, 18, 0.63);
    color: white;
    
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
}
.detail-btn:hover {
    box-shadow: 5px 5px 5px dimgrey;
}