.top-banner {
    background-image: url('https://i.ibb.co/7nqkDfz/hospital-reception-vector-illustration-cartoon-flat-patient-characters-waiting-doctors-appointment-h.png');
    background-repeat: no-repeat;
    
    height: 1000px;

}